@import 'dhtmlx-gantt/codebase/dhtmlxgantt.css';

.gantt-chart {
  position: relative;
  width: 100%;
  height: 500px;
}

.resource_marker {
  text-align: center;
}
.resource_marker div {
  width: 28px;
  height: 28px;
  line-height: 29px;
  display: inline-block;
  border-radius: 15px;
  color: #fff;
  margin: 3px;
}
.resource_marker.workday_ok div {
  background: #51c185;
}

.resource_marker.workday_over div {
  background: #ff8686;
}
